*, p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: logoFont;
    src: url(./Norse-Bold.otf);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logo-section {
    width: 40%;
    background-image: url(./background.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}

.form-section {
    width: 100%;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 50%;
    font-family: logoFont;
    font-size: 60px;
    color: white;
}

.logo p {
    padding-top: 10px;
}

.logo img {
    width: 75px;
    height: 90px;
}

/* .logo p::before {
    background-image: url(./odin-lined.png);
    content: "";
    display: inline-block;
    background-size: 50px 60px;
    width: 50px;
    height: 60px;
} */