*, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: black;
}

@font-face {
    font-family: logoFont;
    src: url(./Norse-Bold.otf);
}

@font-face {
    font-family: mainFont;
    src: url(./Roboto-Regular.ttf);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.logo-section {
    width: 40%;
    background-image: url(./background.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}

.form-section {
    width: 100%;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 50%;
    font-family: logoFont;
    font-size: 60px;
    color: white;
}

.logo p {
    padding-top: 10px;
}

.logo img {
    width: 75px;
    height: 90px;
}

.credit {
    font-family: mainFont;
    position: absolute;
    bottom: 10px;
    left: 20%;
    right: 20%;
    color: rgb(72, 107, 84, 0.6);
    font-size: clamp(0.2rem, 1rem, 1vw);
}

.credit a {
    color: rgb(72, 107, 84, 0.6);
}

.form-section {
    display: flex;
    flex-direction: column;
    font-family: mainFont;
}

.warning-message {
    font-size: 24px;
    width: 100%;
    height: 380px;
    background-color: #f9fafb;
}

.paragraph {
    width: 700px;
    margin: 120px 50px 60px 40px;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-body {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 40px;
    box-shadow: 0px 16px 29px -25px black;
    padding-bottom: 25px;
    z-index: 1;
}

form h1 {
    font-size: 25px;
    padding: 20px 0 20px 40px;
}

li {
    display: flex;
    flex-direction: column;
    margin: 0 80px 20px 0;
}

form label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0 0 5px 0;
}

form input {
    width: 350px;
    height: 30px;
    font-size: 16px;
    font-family: mainFont;
    padding-left: 5px;
}

form input:focus {
    box-shadow: 0px 5px 15px -8px black;
}

form input:user-invalid {
    border: 1px solid red;
    background-color: rgb(255,0,0, 0.2);
}

form input:valid {
    border: 1px solid green;
    background-color: rgb(0,128,0, 0.2);
}

.form-submit {
    height: 100%;
    width: 100%;
    background-color: #f9fafb;
}

.form-submit button {
    margin: 40px 0 0 40px;
    width: 250px;
    height: 50px;
    font-family: mainFont;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
}

.form-submit p {
    margin: 40px 0 0 40px;
    font-size: 16px;
    font-family: mainFont;
}

.form-submit a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

